<h2>{{ selectedHero.name | titlecase }} </h2> Details:
<div>
    <span>Hero Id: </span> {{ selectedHero.id }}
</div>
<div>
    <span>Hero Name: </span> 
    <input id="name" [(ngModel)]="selectedHero.name" placeholder="name" />
</div>


<h2>My Heroes</h2>
<ul class="heroes">
    <li *ngFor="let hero of heroes" [class.selected]="hero === selectedHero" (click)="onSelect(hero)">
        <span class="badge">{{hero.id | mypipe}}</span> {{hero.name}}
    </li>
</ul>

<div>
    <button (click)="HandleImageVisible()">Click me</button>
</div>

<div *ngIf="IsImageVisible">
    <img [src]= "selectedHero.imagePath" />
</div>
