<!-- <app-hero-detail [selectedHero]="selectedHero"></app-hero-detail> -->

<h2>My Heroes</h2>

<ul class="heroes">
    <li *ngFor="let hero of heroes" [class.selected]="hero === selectedHero" (click)="onSelect(hero)">
        <a routerLink="/detail/{{hero.id}}">
            <span class="badge">{{hero.id | mypipe}}</span> {{hero.name}}
        </a>
    </li>
</ul>

<div>
    <button (click)="HandleImageVisible()">Click me</button>
</div>

<div *ngIf="selectedHero">
    <div *ngIf="IsImageVisible">
        <img [src]= "selectedHero.imagePath" />
    </div>
</div>